@charset "UTF-8";
/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none;
}

/* remember to define visible focus styles!
:focus{
    outline:?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/images/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/images/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/images/blank.gif"); /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/images/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

body {
  background: #0e121b;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #333;
  overflow: auto;
  overflow: overlay;
}

#main {
  padding: 10px 30px;
}

* {
  box-sizing: border-box;
}

#container,
.container {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.element {
  width: 120px;
  height: 120px;
  background-color: #18212f;
  float: left;
  position: relative;
  cursor: pointer;
}
.element dl {
  display: none;
}
.element > div {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.element h4 {
  opacity: 0;
  transition: opacity 0.3s;
  padding: 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;  
}

.element .external-link {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  font-size: 0.7em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 23px;
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath fill='white' d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath fill='white' d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    right: 5px;
    top: 10px;
  }
}
.element:hover {
  h4, .external-link {
    opacity: 1;
  }
}

/* @for $i from 1 through 10 {
    .w-#{$i} {
        width: #{($base * $i) + ($margin * ($i - 1) * 2)}#{px};
    }
    .h-#{$i} {
        height: #{($base * $i) + ($margin * ($i - 1) * 2)}#{px};
    }
} */

/* One day: https://caniuse.com/?search=css%20attr */
/* div[data-w] {
  width: calc(attr(data-w type(<integer>)) * 120px + (attr(data-w type(<integer>)) - 1) * 10px);
}
div[data-h] {
  height: calc(attr(data-h type(<integer>)) * 120px + (attr(data-h type(<integer>)) - 1) * 10px);
} */

.w-1 {
  width: 120px;
}

.h-1 {
  height: 120px;
}

.w-2 {
  width: 250px;
}

.h-2 {
  height: 250px;
}

.w-3 {
  width: 380px;
}

.h-3 {
  height: 380px;
}

.w-4 {
  width: 510px;
}

.h-4 {
  height: 510px;
}

.w-5 {
  width: 640px;
}

.h-5 {
  height: 640px;
}

.w-6 {
  width: 770px;
}

.h-6 {
  height: 770px;
}

.w-7 {
  width: 900px;
}

.h-7 {
  height: 900px;
}

.w-8 {
  width: 1030px;
}

.h-8 {
  height: 1030px;
}

.w-9 {
  width: 1160px;
}

.h-9 {
  height: 1160px;
}

.w-10 {
  width: 1290px;
}

.h-10 {
  height: 1290px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  will-change: transform;
  padding: 7% 5% 5% 5%;
  color: white;
  display: none;
}
#overlay #content {
  max-width: 1310px;
  margin: 0 auto;
  background-color: black;
  color: #687f99;
  padding: 70px 50px;
  position: relative;
  border: 10px solid white;
  border-radius: 4px;
  pointer-events: auto;
}
#overlay #content > div {
  overflow: hidden;
  max-width: 970px;
  margin: 0 auto;
}

#scrim {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.close {
  font-size: 2em;
  background-color: rgba(1, 1, 1, 0.8);
  display: block;
  position: absolute;
  top: -21px;
  right: -21px;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0, 0, 4px, 1px, #000000;
  svg {
    pointer-events: none;
    margin: 1px 0 0 0;
  }
}

h1 {
  color: #715f87;
  font-size: 35px;
  margin: 40px 0 20px 0;
}

h2 {
  color: #00deff;
  font-size: 30px;
  margin: 10px 50px 40px 150px;
}

h3 {
  color: #00deff;
  font-size: 25px;
  margin-top: 4px;
}

h4 {
  color: #00deff;
  font-size: 20px;
}

p {
  font-size: 17px;
  line-height: 1.5;
  margin: 12px 0 20px 0;
}

a.thumb {
  display: block;
  float: left;
  height: 200px;
  width: 200px;
  background: #3a414c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 9px 8px 0;
  background-position: center center;
  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/
  /*-webkit-filter: grayscale(.8);
  -webkit-transition: all 800ms;*/
}

a.thumb:last-child {
  margin-right: 0;
}

/*a.thumb:hover{
    -webkit-filter: grayscale(0);
}*/
a {
  transition: color 0.2s;
  -moz-transition: color 0.2s; /* Firefox 4 */
  -webkit-transition: color 0.2s; /* Safari and Chrome */
  -o-transition: color 0.2s; /* Opera */
  text-decoration: none;
}

a,
a:active,
a:visited {
  color: #674aff;
}

a:hover {
  color: #1a7af1;
}

a.c1 {
  width: 955px;
  margin-right: 0px;
}

a.c2 {
  width: 474px;
}

a.c3 {
  width: 312px;
}

a.c4 {
  width: 232px;
}

a.c5 {
  width: 182px;
}

a.c6 {
  width: 150px;
}

a.short {
  height: 136px;
}

a.f00 {
  color: #860032;
}

a.f00:hover {
  color: #ff0019;
}

.col {
  margin-left: -10px;
}

.col > * {
  display: block;
  float: left;
  background-position: center center;
  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/
}
.col > * > * {
  padding: 0 0 0 10px;
  max-width: 100%;
  max-height: 100%;
}

.col2 > * {
  width: 50% !important;
}

.col3 > * {
  width: 33.3333% !important;
}

.col4 > * {
  width: 25% !important;
}

.col5 > * {
  width: 20% !important;
}

p.detail {
  font-size: 15px;
}

dl {
  clear: both;
  display: block;
  line-height: 20px;
  padding: 10px 50px 10px 50px;
  font-size: 15px;
}

dt,
dd {
  padding: 10px 0 0 0;
}

dt {
  float: left;
  width: 100px;
  text-align: right;
  color: #435b77;
}

dt:after {
  content: ": ";
}

dd {
  margin-left: 110px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(110, 130, 180, 0), rgba(110, 130, 180, 0.75), rgba(110, 130, 180, 0));
  background-image: -moz-linear-gradient(left, rgba(110, 130, 180, 0), rgba(110, 130, 180, 0.75), rgba(110, 130, 180, 0));
  background-image: -ms-linear-gradient(left, rgba(110, 130, 180, 0), rgba(110, 130, 180, 0.75), rgba(110, 130, 180, 0));
  background-image: -o-linear-gradient(left, rgba(110, 130, 180, 0), rgba(110, 130, 180, 0.75), rgba(110, 130, 180, 0));
  margin: 25px 10px 0 0;
  border-bottom: 1px solid #000;
}

#main {
  position: relative;
}

.star {
  position: absolute;
}

#brands {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  display: none;
}
#brands ul#client_brands {
  display: block;
  margin: 10px 10px 30px 3px;
}
#brands ul#client_brands li {
  display: inline-block;
}

#client_brands li div {
  width: 155px;
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  background-color: #e9edff;
  padding: 50px 0 70px 0;
  display: none;
}

#head {
  height: 450px;
  position: absolute;
  width: 100%;
  background: #e9edff;
  overflow: hidden;
}

#me {
  background: #e9edff url("/images/caseprince_3.jpg") no-repeat 15% 15px;
  height: 498px;
  width: 100%;
  position: relative;
  right: 0;
}

#head_copy {
  width: 100%;
  max-width: 647px;
  margin-left: 43%;
  height: 420px;
  position: relative;
  margin-top: 20px;
}
#head_copy h1 {
  margin: 30px 0 20px 0;
  font-weight: 700;
}
#head_copy p {
  background-color: #e9edff;
  line-height: 26px;
  margin: 12px 0 12px 0;
  padding: 3px 5px;
  font-size: 16px;
}

ol,
ul {
  line-height: 26px;
  margin-left: 30px;
  counter-reset: li;
  margin-top: 10px;
}
ol li,
ul li {
  position: relative;
  line-height: 22px;
  margin-bottom: 11px;
}

small {
  font-size: 11px;
}

.thumbs-vert {
  padding: 0 10px;
  min-width: 975px;
  width: 100%;
  overflow: hidden;
}

.left,
.right {
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;
}

.left {
  float: left;
  margin-right: 30px;
}

.right {
  float: right;
  margin-left: 30px;
}

.vert h2 {
  margin-top: 20px;
}
.vert p {
  position: relative;
  font-size: 15px;
}
.vert p b {
  display: block;
  color: #435b77;
  font-weight: 400;
  position: relative;
  left: -10px;
}

.new-and-improved h2 {
  font-size: 40px;
  margin: 10px 50px 40px 0;
}

/* way the hell off screen */
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.fancybox-lock {
  margin-right: 0 !important;
}

.fancybox-lock .fancybox-overlay {
  overflow: hidden;
}