@charset "UTF-8";

body {
  background: #e9edff;
  background: #0e121b;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #333;
  overflow: auto;
  overflow: overlay;
}

header {
  margin: 0;
  padding: 10px 0 20px 0;
  overflow: auto;
  background: #e9edff url("/images/case_toon_key.png") no-repeat;
  background-position: min(18%, 170px) 10px;
  background-size: auto 43.7rem;
  min-height: 450px;
  background-color: #e9edff;

  .head-copy {
    max-width: 530px;
    margin-left: min(45%, 550px);
    padding-right: 30px;
    h1,
    p {
      background-color: #e9edffa5;
      backdrop-filter: blur(3px);
    }
    h1 {
      margin: 25px 0 0px 0px;
      padding: 0px 5px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin: 7px 0;
      padding: 5px 7px;
    }
  }
}

@media (max-width: 1200px) {
  header {
    background-position: 15% 10px;
  }
}

@media (max-width: 1100px) {
  header {
    background-position: 13% 10px;
  }
}

@media (max-width: 1000px) {
  header {
    background-position: 10% 10px;
  }
}

@media (max-width: 810px) {
  header {
    background-position: left 5% bottom 0;
    background-size: auto 95%;
  }
  .typing {
    display: none;
  }
  .head-copy h1 {
    font-size: 20px;
  }
  .head-copy p {
    font-size: 13px;
  }
}

#main {
  position: relative;
  padding: 10px;
}

#container,
.container {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.element {
  width: 120px;
  height: 120px;
  background-color: #18212f;
  float: left;
  position: relative;
  cursor: pointer;
  &.hidden {
    display: none;
  }
}
/* .element dl {
  display: none;
} */
.element > div {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.element h4 {
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.element .external-link {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  font-size: 0.7em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 23px;
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath fill='white' d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath fill='white' d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    right: 5px;
    top: 10px;
  }
}
.element:hover {
  h4,
  .external-link {
    opacity: 1;
  }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  will-change: transform;
  padding: 7% 5% 5% 5%;
  color: white;
  display: none;
}
#overlay #content {
  max-width: 1310px;
  margin: 0 auto;
  background-color: black;
  color: #687f99;
  padding: 70px 50px;
  position: relative;
  border: 10px solid white;
  border-radius: 4px;
  pointer-events: auto;
}
#overlay #content > div {
  overflow: hidden;
  max-width: 970px;
  margin: 0 auto;
}

#scrim {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.close {
  font-size: 2em;
  background-color: rgba(1, 1, 1, 0.8);
  display: block;
  position: absolute;
  top: -21px;
  right: -21px;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0, 0, 4px, 1px, #000000;
  svg {
    pointer-events: none;
    margin: 1px 0 0 0;
  }
}

h1 {
  color: #673f99;
  font-size: 35px;
  margin: 40px 0 20px 0;
}

h2 {
  color: #00deff;
  font-size: 30px;
  margin: 10px 50px 40px 150px;
}

h3 {
  color: #00deff;
  font-size: 25px;
  margin-top: 4px;
}

h4 {
  color: #00deff;
  font-size: 20px;
}

p {
  font-size: 17px;
  margin: 12px 0 20px 0;
}

a.thumb {
  display: block;
  float: left;
  height: 200px;
  width: 200px;
  background: #3a414c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 9px 8px 0;
  background-position: center center;
  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/
}

a.thumb:last-child {
  margin-right: 0;
}

a {
  transition: color 0.2s;
  -moz-transition: color 0.2s; /* Firefox 4 */
  -webkit-transition: color 0.2s; /* Safari and Chrome */
  -o-transition: color 0.2s; /* Opera */
}

a,
a:active,
a:visited {
  color: #674aff;
}

a:hover {
  color: #1a7af1;
}

a.short {
  height: 136px;
}

a.f00 {
  color: #860032;
}

a.f00:hover {
  color: #ff0019;
}

.col {
  margin-left: -10px;
}

.col > * {
  display: block;
  float: left;
  background-position: center center;
  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/
}
.col > * > * {
  padding: 0 0 0 10px;
  max-width: 100%;
  max-height: 100%;
}

.col2 > * {
  width: 50% !important;
}

.col3 > * {
  width: 33.3333% !important;
}

.col4 > * {
  width: 25% !important;
}

.col5 > * {
  width: 20% !important;
}

p.detail {
  font-size: 15px;
}

dl {
  clear: both;
  display: block;
  padding: 10px 50px 10px 50px;
  font-size: 15px;
}

dt,
dd {
  padding: 10px 0 0 0;
}

dt {
  float: left;
  width: 100px;
  text-align: right;
  color: #435b77;
}

dt:after {
  content: ": ";
}

dd {
  margin-left: 110px;
}

ol,
ul {
  margin-left: 30px;
  counter-reset: li;
  margin-top: 10px;
}
ol li,
ul li {
  position: relative;
  margin-bottom: 11px;
}

small {
  font-size: 11px;
}

.thumbs-vert {
  padding: 0 10px;
  min-width: 975px;
  width: 100%;
  overflow: hidden;
}

.left,
.right {
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;
}

.left {
  float: left;
  margin-right: 30px;
}

.right {
  float: right;
  margin-left: 30px;
}

.vert h2 {
  margin-top: 20px;
}
.vert p {
  position: relative;
  font-size: 15px;
}
.vert p b {
  display: block;
  color: #435b77;
  font-weight: 400;
  position: relative;
  left: -10px;
}

.new-and-improved h2 {
  font-size: 40px;
  margin: 10px 50px 40px 0;
}

/* way the hell off screen */
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.fancybox-lock {
  margin-right: 0 !important;
}

.fancybox-lock .fancybox-overlay {
  overflow: hidden;
}

#brands {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  display: none;
  background: #0e121b;
}
#brands ul#client_brands {
  display: block;
  margin: 10px 10px 30px 3px;
}
#brands ul#client_brands li {
  display: inline-block;
}

#client_brands li div {
  width: 155px;
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  background-color: #e9edff;
  padding: 50px 0 70px 0;
  display: none;
}
